{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}
	<div class="col-sm-12">
		{% if (object.providerName == 'sonata.media.provider.image') %}
			<div class="pull-left">
				{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
					<a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}" style="float: left; margin-right: 6px;">{% thumbnail object, 'admin' %}</a>
				{% else %}
					{% thumbnail object, 'admin' %}
				{% endif %}
			</div>
		{% endif %}
		<a class="pull-right" href="{% path object, 'reference' %}" target="_blank">{{ 'list.label_preview'|trans({}, 'SonataMediaBundle') }}</a>
		{#<span class="badge pull-right">{{ object.providerName|trans({}, 'SonataMediaBundle') }}</span>#}
		{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
			<a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}"><strong>{{ object.name }}</strong></a>
		{% else %}
			<strong>{{ object.name }}</strong>
		{% endif %}

		<br />
		{% if (object.providerName == 'sonata.media.provider.image') %}
			{% if object.width %} {{ object.width }}{% if object.height %}x{{ object.height }}{% endif %}px{% endif %}
			{% if object.length > 0 %}
				({{ object.length }})
			{% endif %}
		<br />
		{% endif %}

		{%  if (object.providerName == 'sonata.media.provider.file') %}
			{% import 'Ok99PrivateZoneMediaBundle:MediaAdmin:_macro.html.twig' as macro %}
			<table style="width:100%; margin-bottom:0">
				<tbody>
					<tr>
						<td>
							{% if object.name != object.providerMetadata.filename %}
								{{ 'list.label_filename'|trans({}, 'SonataMediaBundle') }}: {{ object.providerMetadata.filename }}
								<br />
							{% endif %}
							{{ 'list.label_createdAt'|trans({}, 'SonataMediaBundle') }}: {{ object.updatedAt|date('j. n. Y H:i') }}
							{% if object.allowedUsers is defined %}
								<br/>
								{{ 'allowed_users_list_label'|trans({}, 'Ok99PrivateZoneBundle') }}:
								{% if object.allowedUsers and object.allowedUsers|length > 0 %}
									{{ object.allowedUsers|join(', ') }}
								{% else %}
									{{ 'allowed_to_all_users_list_label'|trans({}, 'Ok99PrivateZoneBundle') }}
								{% endif %}
							{% endif %}
							<br />
							{{ 'list.label_enabled'|trans({}, 'SonataMediaBundle') }}: {{ (object.enabled ? 'list.enabled_yes' : 'list.enabled_no')|trans({}, 'SonataMediaBundle') }}
							{% if object.providerName == 'sonata.media.provider.image' %}
								<br />
								{% set filenameParts = object.providerMetadata.filename|split('.') %}
								{{ 'list.label_type'|trans({}, 'SonataMediaBundle') }}: {{ filenameParts[filenameParts|length-1]|upper }}
								<br />
								{{ 'list.label_size'|trans({}, 'SonataMediaBundle') }}: {{ macro.fileSize(object.size) }}
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
			<br />
		{% endif %}

		{% if object.authorname is not empty %}
			{{ object.authorname }}
		{% endif %}

		{% if object.copyright is not empty and object.authorname is not empty %}
			~
		{% endif %}

		{% if object.copyright is not empty %}
			&copy; {{ object.copyright }}
		{% endif  %}

		{#{% set enabled_field_description = admin.getListFieldDescription('enabled') %}#}
		{#{% set url = path('sonata_admin_set_object_field_value', { 'context': 'list', 'field': enabled_field_description.name, 'objectId': admin.id(object), 'code': admin.code(object) })  %}#}
		{#<span {% block field_span_attributes %}class="x-editable" data-type="{{ enabled_field_description.type|sonata_xeditable_type }}" data-value="{{ object.enabled }}" data-title="{{ enabled_field_description.label|trans({}, enabled_field_description.translationDomain) }}" data-pk="{{ admin.id(object) }}" data-url="{{ url }}" {% endblock %}>#}
		{#{{ block('field') }}#}
		{#</span>#}

	</div>
{% endblock %}
