{% extends 'Ok99PrivateZoneMediaBundle:MediaAdmin:_browserBase.html.twig' %}

{% block list_table %}
    <div class="list-group">
        {% for page in pages %}
            <a href="{{ '{{' }} url({{ page.id }}) {{ '}}' }}" class="select list-group-item" data-protocol="">{{ page }}</a>
        {% endfor %}
    </div>
{% endblock %}
